@import url("https://fonts.googleapis.com/css?family=Hind|Lexend+Tera|Montserrat|Nunito+Sans|Roboto+Condensed&display=swap");

$red: red;
$blue: blue;
$white: white;
$yellow: yellow;
$purple: purple;

$primary-font-color: #7d889e;

$fontNunito: "Nunito Sans";
$fontLexend: "Lexend Tera";
$fontHind: "Hind";
$fontRoboto: "Roboto Condensed";
$fontMontserrat: "Montserrat";
